// Index //
.h1Header{
    color: map-get($map:$paleta, $key:'dos');
    font-weight: $bold;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.marginMain{
    margin-bottom: 80px;
    margin-top: 80px;
    margin-left: 30px;
}

// Nosotros //
.textItalic{
    font-style: $italic;
}

.imgSize{
    width: 60%;
}

.imgCenter{
    margin-left: 80px;
}

.h5Adjust{
    margin-top: 20px;
}

// Inteligencia comercial //
.h2Align{
    margin-left: 20px;
    margin-top: 45px;
    margin-bottom: 20px;
}

.textCenter{
    text-align: center;
}

.asideAlign{
    @include textos(40px,20px)
}

// Clientes //
.carruselMargin{
    margin-top: 100px;
    margin-bottom: 120px;
}

.textBold{
    font-weight: $bold;
}

// Recursos //
.mainAlign{
    @include textos(40px,20px)
}

.scaleVideo:hover{
    transform: scale(0.95);
    transition: transform 1s;
}