// NAV //
.bg-aquamarine{
    background-color: $bgColor;
}

#botonera img{
    width: 100px;
    margin-left: 20px;
}

.marginButtons{
    margin-left: 10px;
    margin-right: 10px;
}

.navText{
    color: $textColor;
    font-weight: $bold;
}